/* --- resets --- */

html {
  font: 100% sans-serif;
  }

figure {
  margin: 0;
}

/* --- smooth scroll --- */

body {
  scroll-behavior: smooth;
}

/* --- flexible images --- */

figure,
img {
  display: inline-block;
  vertical-align: middle;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* --- structure --- */

.max-width {
  width: 85%;
  max-width: 64em;
  margin: 0 auto;
}

/* --- banner --- */

#banner {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  background: #222;
}

#banner-logo {
  background: none;
  !margin-right: -1em;
  !margin-left: -1em;
}

/* --- main --- */

main {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

/* --- hero --- */

/* --- content categories --- */

h1 {
  font: 900 2em/1.15 "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul li {
  overflow: hidden;
  }

article {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  overflow: hidden;
}

article h2 {
  font: 900 1.6em/1.15 "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

article header:first-child {
  margin-bottom: 1em;
}

section header {
  margin-bottom: .6em;
}

section h3 {
  font: 900 1.2em/1.15 "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .01em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.feature h3 {
  font: 900 1.6em/1.15 "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .01em;
  text-transform: uppercase;
}

/* feature */

.feature {
  background: #ccc;
  padding: 1.2em;
  overflow: hidden;
}

.feature figure {
  text-align: center;
  overflow: hidden;
  margin-left: -3%;
  margin-right: -3%;
}

.feature img {
  margin: -6% 0 -2%;
}

.feature h3 {
  margin-top: 0;
}

#ux-design #courses .feature {
  color: #fff;
  background: #5ca5a0;
}


@media (min-width: 32em) {

  .feature figure {
    float: left;
    width: 40%;
    margin-right: 1.2em;
  }

  .feature img {
    margin: -6% 0;
  }

}

@media (min-width: 60em) {

  .feature {
    width: 56%;
    min-height: 10em;
  }

  .feature,
  .feature figure {
    float: left;
    margin-right: 1.2em;
  }

}

/* --- #jobs --- */

#jobs h2 {
  display: inline;
  vertical-align: middle;
  }

#jobs select {
  margin-left: 1.2em;
  }

.jobs-list {
  padding-bottom: 1.2em;
}

.jobs-list li {
  padding-top: 1.2em;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1.2em;
  overflow: hidden;
}

.jobs-list li:first-child {
  border-top: 1px solid #ebebeb;
}

.jobs-list h3 {
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 0;
}

.jobs-list p {
  margin-top: .8em;
  margin-bottom: 0;
}

.jobs-list .cta {
  display: none;
  }

@media (min-width: 32em) {

  .jobs-list li div {
    float: left;
    margin-right: 1.2em;
  }

  .jobs-list .cta {
    display: block;
    float: right;
    text-align: right;
  }

}

@media (min-width: 60em) {

  .jobs-list li div {
    width: 80%;
  }

  .jobs-list h3 {
    float: left;
    width: 60%;
    margin-right: 1.2em;
  }

  .jobs-list p {
    margin-top: 0;
  }

}

/* --- related content --- */

.related {
  clear: both;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.related h4 {
  line-height: 1.35;
}

.related ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-column-gap: 1.2em;
}

details.related summary {
  display: inline-block;
}

details.related summary:focus {
  outline: none;
  cursor: pointer;
}

details.related ul {
  padding-top: .6em;
}

/* --- link/button details --- */

main a,
details.related summary b {
  color: inherit;
  text-decoration: none;
  padding-bottom: .125em;
  border-bottom: 2px solid #f8971d;
}

main a:hover,
main a:focus,
details.related summary:hover b,
details.related summary:focus b {
  border-bottom-color: #222;
}

a.cta,
div.cta a {
  display: inline-block;
  margin-bottom: 2px;
  }

.gym-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #f8971d;
  padding: 1.2em 2em;
  border: 0;
  border-radius: .1875em;
  cursor: pointer;
}

.gym-button:hover,
.gym-button:focus {
  background: #9a9a9a;
}

.gym-button b {
  font: bold 1.2em/1.15 "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
  vertical-align: baseline;
}

/* --- color palette --- */

/* --- content details --- */

.no-wrap {
  white-space: nowrap;
}

