.home {
  background: none;
  }

.promo-net-neutrality {
  background-color: #171629;
  background-image: url("https://www.battleforthenet.com/images/v2-bg-noise.png");
  }

.header-net-neutrality img {
  position: relative;
  z-index: 0;
  width: auto%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-top: 1.4em;
  margin-bottom: 2.8em;
  }

.header-net-neutrality {
  font-size: 114.2857142857143%;
  padding: 1.6em 0 0;
  }


.header-net-neutrality,
.header-net-neutrality h1 {
  text-align: center;
 }

.header-net-neutrality h1 {
  font-size: 3em;
  color: #fff;
  line-height: 1.15;
  }

.header-net-neutrality .all-caps {
  font: 900 1.6em/1.4 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fd4935;
  text-transform: uppercase;
  letter-spacing: .05em;
  }

.header-net-neutrality .cap-height {
  font-size: 85%;
  }

.header-net-neutrality .no-wrap {
  white-space: nowrap;
  }


@media (min-width: 48em) {

.header-net-neutrality h1 {
  font-size: 4.8em;
  }

}

.header-net-neutrality p {
  font: bold 1.6em/1.4 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #e1e1e1;
  letter-spacing: .05em;
  margin: .5em 0 0;
  }

.promo-net-neutrality .cta {
  text-align: center;
  padding: 1.2em 1.2em 3.8em;
  }

.promo-net-neutrality .cta .gym-button {
  font-size: 114.2857142857143%;
  }

.promo-net-neutrality .cta .gym-button  {
  display: inline-block;
  color: #fff;
  width: auto !important; /* dangerous override */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: #222;
  padding: 1em 2em !important; /* dangerous override */
  border: 2px solid #fff;;
  border-radius: 2px;
  margin: 0 -1em;
  cursor: pointer;
  }

.promo-net-neutrality .cta .gym-button:hover,
.promo-net-neutrality .cta .gym-button:focus,
.promo-net-neutrality .cta .gym-button:active {
  background: none;
  border: 2px solid #fff;
  }

.cta .gym-button b {
  font: bold 1.4em/1.15 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .02em;
  vertical-align: baseline;
  }
